.map {
    touch-action: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.map-container {
    flex: 1;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    box-sizing: border-box;
    margin: 5px auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px #5e5c5c;
    min-height: 0;
}

/* Адаптивность для планшетов */
@media (max-width: 1024px) {
    .map-container {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        margin: 5px;
    }
}

/* Адаптивность для мобильных */
@media (max-width: 768px) {
    .map-container {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        margin: 3px;
        box-shadow: 0px 0px 3px #5e5c5c;
    }
}
